.main-wrapper
    align-items: center
    background-color: $app-background-color  
    display: flex
    flex-direction: column
    justify-content: center

    @media (min-width: $mobile)
        flex-direction: row
        height: 100%