.container-weather-block-component
    background-color: $bg-color-one
    box-shadow: $box-shadow-properties
    border-radius: 5px
    margin: 15px 0
    overflow: hidden
    width: 250px
    -webkit-box-shadow: $box-shadow-properties
    -moz-box-shadow: $box-shadow-properties

    @media (min-width: $mobile)
        margin: 0 25px

    .header
        border-bottom: 1px solid $divider-color
        height: $weather-block-header
        line-height: $weather-block-header
    
        .city-name
            font-size: 18px
            font-weight: normal
            text-align: center

    .container-temperature
        text-align: center
        height: $container-temperature-height
        line-height: $container-temperature-height

        .temperature
            font-size: 95px
            font-weight: normal

        .temperature.low
            color: $low-temperature-color

        .temperature.normal
            color: $normal-temperature-color

        .temperature.high
            color: $high-temperature-color

        .temperature-indicator
            font-size: 40px
            position: relative
            top: -30px

    .container-more-info
        background-color: rgba($app-background-color,.5)

        .container-humidity-pressure
            display: flex
            flex-direction: row

            > .humidity, .pressure
                text-align: center
                padding-top: 15px
                width: 50%
            .title
                color: $update-gray
                font-size: 12px
                text-transform: uppercase
            .description
                padding-top: 9px

        .container-update
            .update
                color: $update-gray
                font-size: 11px
                text-align: center
                padding: 15px 0
                