<article class="container-weather-block-component">
  <header class="header">
    <h2 class="city-name">Nuuki, BR {{ $ctrl.teste }}</h2>
  </header>
  <section class="container-temperature">
    <h3 class="temperature" ng-class="$ctrl.setTemperatureColor(28)">28<span class="temperature-indicator">º</span></h3>
  </section>
  <footer class="container-more-info">
    <div class="container-humidity-pressure">
        <div class="humidity">
          <p class="title">Humidity</p>
          <p class="description">85%</p>
        </div>
        <div class="pressure">
          <p class="title">Pressure</p>
          <p class="description">888hPa</p>
        </div>
    </div>
    <div class="container-update">
      <p class="update">Updated at 10:27 PM</p>
    </div>
  </footer>
</article>