//font
$default-font: helvetica, Arial, Sans-Serif
$bold-font: helvetica_bold, Arial, Sans-Serif

//Cores
$font-color: #737c84
$bg-color-one: #FFF
$app-background-color: #f1f1f1
$box-shadow-color: #333

//Box-Shadow
$box-shadow-properties: 0px 4px 5px -4px rgba($box-shadow-color,.1)

//Sizes
$container-header-height: 55px
